# `trading_index`

This tutorial shows all the ins and outs of the calendars' `trading_index` method. (For other calendar methods see the [calendar_methods.ipynb](./calendar_methods.ipynb) tutorial.)

The [What does it do?](#What-does-it-do?) section explains basic usage. The following sections then explore the method's arguments and options:

* [`intervals`](#intervals)
* [`period`](#period)
* [`closed`](#closed)
* [`force_close`, `force_break_close` and `force`](#force_close,-force_break_close-and-force)
* [`ignore_breaks`](#ignore_breaks)
* [`align` and `align_pm`](#align-and-align_pm)
* [`start` and `end` as times](#start-and-end-as-times)

The final section covers [overlapping indices](#Overlapping-indices).

In [1]:
# setup
import exchange_calendars as xcals
import pandas as pd

hkg = xcals.get_calendar("XHKG") # Hong Kong Stock Exchange
start = "2021-12-23"
end = "2021-12-28"

In [2]:
# for reference
schedule = hkg.schedule.loc[start:end]
schedule

,open,break_start,break_end,close
2021-12-23,2021-12-23 01:30:00+00:00,2021-12-23 04:00:00+00:00,2021-12-23 05:00:00+00:00,2021-12-23 08:00:00+00:00
2021-12-24,2021-12-24 01:30:00+00:00,NaT,NaT,2021-12-24 04:00:00+00:00
2021-12-28,2021-12-28 01:30:00+00:00,2021-12-28 04:00:00+00:00,2021-12-28 05:00:00+00:00,2021-12-28 08:00:00+00:00

### What does it do?

`trading_index` creates a trading index at a given period over a range of sessions.

In [3]:
hkg.trading_index(start, end, "30min", intervals=False)

DatetimeIndex(['2021-12-23 01:30:00+00:00', '2021-12-23 02:00:00+00:00',
               '2021-12-23 02:30:00+00:00', '2021-12-23 03:00:00+00:00',
               '2021-12-23 03:30:00+00:00', '2021-12-23 05:00:00+00:00',
               '2021-12-23 05:30:00+00:00', '2021-12-23 06:00:00+00:00',
               '2021-12-23 06:30:00+00:00', '2021-12-23 07:00:00+00:00',
               '2021-12-23 07:30:00+00:00', '2021-12-24 01:30:00+00:00',
               '2021-12-24 02:00:00+00:00', '2021-12-24 02:30:00+00:00',
               '2021-12-24 03:00:00+00:00', '2021-12-24 03:30:00+00:00',
               '2021-12-28 01:30:00+00:00', '2021-12-28 02:00:00+00:00',
               '2021-12-28 02:30:00+00:00', '2021-12-28 03:00:00+00:00',
               '2021-12-28 03:30:00+00:00', '2021-12-28 05:00:00+00:00',
               '2021-12-28 05:30:00+00:00', '2021-12-28 06:00:00+00:00',
               '2021-12-28 06:30:00+00:00', '2021-12-28 07:00:00+00:00',
               '2021-12-28 07:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

Or over a single session, if `start` and `end` are passed as the same session.

In [4]:
hkg.trading_index(start=start, end=start, period="30min", intervals=False)

DatetimeIndex(['2021-12-23 01:30:00+00:00', '2021-12-23 02:00:00+00:00',
               '2021-12-23 02:30:00+00:00', '2021-12-23 03:00:00+00:00',
               '2021-12-23 03:30:00+00:00', '2021-12-23 05:00:00+00:00',
               '2021-12-23 05:30:00+00:00', '2021-12-23 06:00:00+00:00',
               '2021-12-23 06:30:00+00:00', '2021-12-23 07:00:00+00:00',
               '2021-12-23 07:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

Or between times, if `start` and `end` are passed as times (as opposed to dates).

In [5]:
start_min = "2021-12-23 02:30"
end_min = "2021-12-28 07:00"
hkg.trading_index(start=start_min, end=end_min, period="30min", intervals=False)

DatetimeIndex(['2021-12-23 02:30:00+00:00', '2021-12-23 03:00:00+00:00',
               '2021-12-23 03:30:00+00:00', '2021-12-23 05:00:00+00:00',
               '2021-12-23 05:30:00+00:00', '2021-12-23 06:00:00+00:00',
               '2021-12-23 06:30:00+00:00', '2021-12-23 07:00:00+00:00',
               '2021-12-23 07:30:00+00:00', '2021-12-24 01:30:00+00:00',
               '2021-12-24 02:00:00+00:00', '2021-12-24 02:30:00+00:00',
               '2021-12-24 03:00:00+00:00', '2021-12-24 03:30:00+00:00',
               '2021-12-28 01:30:00+00:00', '2021-12-28 02:00:00+00:00',
               '2021-12-28 02:30:00+00:00', '2021-12-28 03:00:00+00:00',
               '2021-12-28 03:30:00+00:00', '2021-12-28 05:00:00+00:00',
               '2021-12-28 05:30:00+00:00', '2021-12-28 06:00:00+00:00',
               '2021-12-28 06:30:00+00:00', '2021-12-28 07:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

Note that `start` can be passed as a time and `end` as a date, or vice-versa.

In [6]:
hkg.trading_index(start=start_min, end=start, period="30min", intervals=False)

DatetimeIndex(['2021-12-23 02:30:00+00:00', '2021-12-23 03:00:00+00:00',
               '2021-12-23 03:30:00+00:00', '2021-12-23 05:00:00+00:00',
               '2021-12-23 05:30:00+00:00', '2021-12-23 06:00:00+00:00',
               '2021-12-23 06:30:00+00:00', '2021-12-23 07:00:00+00:00',
               '2021-12-23 07:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

See the '[`start` and `end` as times](#start-and-end-as-times)' section for further notes on how the first and last indices are defined when `start` and/or `end` are passed as times.

### `intervals`

By passing `intervals` as `False` the index can be output as a `DatetimeIndex`, as shown above. Although by default the index is output as an `IntervalIndex`.

In [7]:
index = hkg.trading_index(start, start, "30min")
index

IntervalIndex([[2021-12-23 01:30:00, 2021-12-23 02:00:00), [2021-12-23 02:00:00, 2021-12-23 02:30:00), [2021-12-23 02:30:00, 2021-12-23 03:00:00), [2021-12-23 03:00:00, 2021-12-23 03:30:00), [2021-12-23 03:30:00, 2021-12-23 04:00:00) ... [2021-12-23 05:30:00, 2021-12-23 06:00:00), [2021-12-23 06:00:00, 2021-12-23 06:30:00), [2021-12-23 06:30:00, 2021-12-23 07:00:00), [2021-12-23 07:00:00, 2021-12-23 07:30:00), [2021-12-23 07:30:00, 2021-12-23 08:00:00)], dtype='interval[datetime64[ns, UTC], left]')

Let's make that a bit more readable by setting it to the index of a `DataFrame`, and have columns showing the index's left and right sides.

In [8]:
def show_as_df(index: pd.IntervalIndex) -> pd.DataFrame:
    index.name = "IntervalIndex"
    return pd.DataFrame(
        dict(left_side=index.left, right_side=index.right),
        index=index
    )

show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 02:00:00)",2021-12-23 01:30:00+00:00,2021-12-23 02:00:00+00:00
"[2021-12-23 02:00:00, 2021-12-23 02:30:00)",2021-12-23 02:00:00+00:00,2021-12-23 02:30:00+00:00
"[2021-12-23 02:30:00, 2021-12-23 03:00:00)",2021-12-23 02:30:00+00:00,2021-12-23 03:00:00+00:00
"[2021-12-23 03:00:00, 2021-12-23 03:30:00)",2021-12-23 03:00:00+00:00,2021-12-23 03:30:00+00:00
"[2021-12-23 03:30:00, 2021-12-23 04:00:00)",2021-12-23 03:30:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 05:30:00)",2021-12-23 05:00:00+00:00,2021-12-23 05:30:00+00:00
"[2021-12-23 05:30:00, 2021-12-23 06:00:00)",2021-12-23 05:30:00+00:00,2021-12-23 06:00:00+00:00
"[2021-12-23 06:00:00, 2021-12-23 06:30:00)",2021-12-23 06:00:00+00:00,2021-12-23 06:30:00+00:00
"[2021-12-23 06:30:00, 2021-12-23 07:00:00)",2021-12-23 06:30:00+00:00,2021-12-23 07:00:00+00:00
"[2021-12-23 07:00:00, 2021-12-23 07:30:00)",2021-12-23 07:00:00+00:00,2021-12-23 07:30:00+00:00
"[2021-12-23 07:30:00, 2021-12-23 08:00:00)",2021-12-23 07:30:00+00:00,2021-12-23 08:00:00+00:00

### `period`

The trading index represents sessions and subsessions as a number of discrete periods of a given length.

When output as an `IntervalIndex` each indice represents a discrete period.

In [9]:
index[0]

Interval('2021-12-23 01:30:00', '2021-12-23 02:00:00', closed='left')

The length of each period for the example above is 30 minutes.

In [10]:
index.length

TimedeltaIndex(['0 days 00:30:00', '0 days 00:30:00', '0 days 00:30:00',
                '0 days 00:30:00', '0 days 00:30:00', '0 days 00:30:00',
                '0 days 00:30:00', '0 days 00:30:00', '0 days 00:30:00',
                '0 days 00:30:00', '0 days 00:30:00'],
               dtype='timedelta64[ns]', freq=None)

The period length is defined by the `period` argument which can be passed as the third positional argument or as a keyword argument. `period` can take either a `pd.Timedelta` or a string representing a pandas frequency. All the following are valid inputs representing a period length of 1 hour.

In [11]:
periods = [
    pd.Timedelta(hours=1),
    pd.Timedelta(1, "H"),
    pd.Timedelta(60, "min"),
    pd.Timedelta(60, "T"),
    "1H",
    "1h",
    "60T",
    "60min",
    "3600s"   
]

indexes = [ hkg.trading_index(start, start, period) for period in periods ]
for i, index in enumerate(indexes):
    pd.testing.assert_index_equal(index, indexes[0])

In [12]:
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 02:30:00)",2021-12-23 01:30:00+00:00,2021-12-23 02:30:00+00:00
"[2021-12-23 02:30:00, 2021-12-23 03:30:00)",2021-12-23 02:30:00+00:00,2021-12-23 03:30:00+00:00
"[2021-12-23 03:30:00, 2021-12-23 04:30:00)",2021-12-23 03:30:00+00:00,2021-12-23 04:30:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 06:00:00)",2021-12-23 05:00:00+00:00,2021-12-23 06:00:00+00:00
"[2021-12-23 06:00:00, 2021-12-23 07:00:00)",2021-12-23 06:00:00+00:00,2021-12-23 07:00:00+00:00
"[2021-12-23 07:00:00, 2021-12-23 08:00:00)",2021-12-23 07:00:00+00:00,2021-12-23 08:00:00+00:00

The maximum `period` is one day, in which case the trading index is returned as a `DatetimeIndex` of sessions.

In [13]:
hkg.trading_index(start, end, "1D")

DatetimeIndex(['2021-12-23', '2021-12-24', '2021-12-28'], dtype='datetime64[ns]', freq='C')

At the other extreme, the period can be go all the way down to miliseconds to create a high frequency trading index.

In [14]:
high_freq = hkg.trading_index(start, start, "1ms")
high_freq

IntervalIndex([[2021-12-23 01:30:00, 2021-12-23 01:30:00.001000), [2021-12-23 01:30:00.001000, 2021-12-23 01:30:00.002000), [2021-12-23 01:30:00.002000, 2021-12-23 01:30:00.003000), [2021-12-23 01:30:00.003000, 2021-12-23 01:30:00.004000), [2021-12-23 01:30:00.004000, 2021-12-23 01:30:00.005000) ... [2021-12-23 07:59:59.995000, 2021-12-23 07:59:59.996000), [2021-12-23 07:59:59.996000, 2021-12-23 07:59:59.997000), [2021-12-23 07:59:59.997000, 2021-12-23 07:59:59.998000), [2021-12-23 07:59:59.998000, 2021-12-23 07:59:59.999000), [2021-12-23 07:59:59.999000, 2021-12-23 08:00:00)], dtype='interval[datetime64[ns, UTC], left]', length=19800000)

That's a lot of indices...

In [15]:
len(high_freq)

19800000

When the index is output as a `DatetimeIndex` the indices represent period bounds. Accordingly, the period length is given by the distance between consecutive indices.

In [16]:
index = hkg.trading_index(start, start, "30min", intervals=False)

In [17]:
index[1:] - index[:-1]

TimedeltaIndex(['0 days 00:30:00', '0 days 00:30:00', '0 days 00:30:00',
                '0 days 00:30:00', '0 days 01:30:00', '0 days 00:30:00',
                '0 days 00:30:00', '0 days 00:30:00', '0 days 00:30:00',
                '0 days 00:30:00'],
               dtype='timedelta64[ns]', freq=None)

Huh? Why's there an hour and a half in there? Let's have a look at that index...

In [18]:
index

DatetimeIndex(['2021-12-23 01:30:00+00:00', '2021-12-23 02:00:00+00:00',
               '2021-12-23 02:30:00+00:00', '2021-12-23 03:00:00+00:00',
               '2021-12-23 03:30:00+00:00', '2021-12-23 05:00:00+00:00',
               '2021-12-23 05:30:00+00:00', '2021-12-23 06:00:00+00:00',
               '2021-12-23 06:30:00+00:00', '2021-12-23 07:00:00+00:00',
               '2021-12-23 07:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [19]:
# recall
schedule.iloc[[0]]

,open,break_start,break_end,close
2021-12-23,2021-12-23 01:30:00+00:00,2021-12-23 04:00:00+00:00,2021-12-23 05:00:00+00:00,2021-12-23 08:00:00+00:00

Hong Kong has a lunch break. The trading index covers the morning subsession starting with the open, and then the afternoon subsession starting with the break-end. The hour and a half represents the difference between the last indice of the morning subsession and the first indice of the afternoon subsession. (See [`ignore_breaks`](#ignore_breaks) for how to treat sessions as continuous.)

Ok, fine, but why hasn't the index included indices for 04:00 or 08:00? That's because it's `closed` on the "left" (by default)...

### `closed`

The `closed` parameter has a different effect depending on whether the index is being output as an `IntervalIndex` (default) or `DatetimeIndex` (i.e. `intervals=False`).

If the index is being output as an `IntervalIndex` then `closed` can take either "left" (default) or "right". This value is simply passed through to the `closed` parameter of the `IntervalIndex` (to define the side on which all the intervals should be closed). In this case `closed` has no other effect.

If the index is being output as an `DatetimeIndex` then `closed` can take either "left", "right", "both" or "neither". In this case `closed` determines **the side of each implied period that an indice should be defined on**. The consequence of each value is best understood by considering whether or not the left side of the first implied period and/or the right side of last implied period are included as indices:
* "left" (default) - include left side of first period, do not include right side of last period.
* "right" - do not include left side of first period, include right side of last period.
* "both" - include both left side of first period and right side of last period.
* "neither" - do not include either left side of first period or right side of last period.

So, going back to the prior example, passing `closed` as right will include the 04:00 and 08:00 indices.

In [20]:
hkg.trading_index(start, start, "30min", closed="right", intervals=False)

DatetimeIndex(['2021-12-23 02:00:00+00:00', '2021-12-23 02:30:00+00:00',
               '2021-12-23 03:00:00+00:00', '2021-12-23 03:30:00+00:00',
               '2021-12-23 04:00:00+00:00', '2021-12-23 05:30:00+00:00',
               '2021-12-23 06:00:00+00:00', '2021-12-23 06:30:00+00:00',
               '2021-12-23 07:00:00+00:00', '2021-12-23 07:30:00+00:00',
               '2021-12-23 08:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

Although now that only the right sides of the implied periods are being defined - the open (01:30) and start of the afternoon subsession (05:00) are not included...

`closed` can be passed as "both" to include both the left and the right side of each implied interval.

In [21]:
hkg.trading_index(start, start, "30min", closed="both", intervals=False)

DatetimeIndex(['2021-12-23 01:30:00+00:00', '2021-12-23 02:00:00+00:00',
               '2021-12-23 02:30:00+00:00', '2021-12-23 03:00:00+00:00',
               '2021-12-23 03:30:00+00:00', '2021-12-23 04:00:00+00:00',
               '2021-12-23 05:00:00+00:00', '2021-12-23 05:30:00+00:00',
               '2021-12-23 06:00:00+00:00', '2021-12-23 06:30:00+00:00',
               '2021-12-23 07:00:00+00:00', '2021-12-23 07:30:00+00:00',
               '2021-12-23 08:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

And if you have a use case where you don't require either the left side of a (sub)session's first period or the right side of its last one, then you're after "neither".

In [22]:
hkg.trading_index(start, start, "30min", closed="neither", intervals=False)

DatetimeIndex(['2021-12-23 02:00:00+00:00', '2021-12-23 02:30:00+00:00',
               '2021-12-23 03:00:00+00:00', '2021-12-23 03:30:00+00:00',
               '2021-12-23 05:30:00+00:00', '2021-12-23 06:00:00+00:00',
               '2021-12-23 06:30:00+00:00', '2021-12-23 07:00:00+00:00',
               '2021-12-23 07:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

### `force_close`, `force_break_close` and `force`

Have a look at this.

In [23]:
index = hkg.trading_index(start, start, "80T")
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 02:50:00)",2021-12-23 01:30:00+00:00,2021-12-23 02:50:00+00:00
"[2021-12-23 02:50:00, 2021-12-23 04:10:00)",2021-12-23 02:50:00+00:00,2021-12-23 04:10:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 06:20:00)",2021-12-23 05:00:00+00:00,2021-12-23 06:20:00+00:00
"[2021-12-23 06:20:00, 2021-12-23 07:40:00)",2021-12-23 06:20:00+00:00,2021-12-23 07:40:00+00:00
"[2021-12-23 07:40:00, 2021-12-23 09:00:00)",2021-12-23 07:40:00+00:00,2021-12-23 09:00:00+00:00

Specifically, consider the last indice of the morning subsession against the break-start time...

In [24]:
# for reference
schedule.iloc[[0]]

,open,break_start,break_end,close
2021-12-23,2021-12-23 01:30:00+00:00,2021-12-23 04:00:00+00:00,2021-12-23 05:00:00+00:00,2021-12-23 08:00:00+00:00

In [25]:
index[1]

Interval('2021-12-23 02:50:00', '2021-12-23 04:10:00', closed='left')

It can be seen that whilst this indice represents, like all the others, a period of 80 minutes, only the first 70 minutes of these actually represent a trading period, with the last 10 minutes, from 04:00 to 04:10, falling within the subsequent break.

Similarly, it can be see that the last indice includes a full hour (08:00 - 09:00) that falls after the close.

**The final indice of a (sub)session will always include a non-trading period whenever the period length is not a factor of the (sub)session duration.**

The `force_close` and `force_break_close` options are provided to force the right side of the final period to, respectively, the session / morning subsession close.

In [26]:
index = hkg.trading_index(
    start, start, "80T", force_close=True, force_break_close=True
)
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 02:50:00)",2021-12-23 01:30:00+00:00,2021-12-23 02:50:00+00:00
"[2021-12-23 02:50:00, 2021-12-23 04:00:00)",2021-12-23 02:50:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 06:20:00)",2021-12-23 05:00:00+00:00,2021-12-23 06:20:00+00:00
"[2021-12-23 06:20:00, 2021-12-23 07:40:00)",2021-12-23 06:20:00+00:00,2021-12-23 07:40:00+00:00
"[2021-12-23 07:40:00, 2021-12-23 08:00:00)",2021-12-23 07:40:00+00:00,2021-12-23 08:00:00+00:00

Note that these options can be used independently.

In [27]:
index = hkg.trading_index(start, start, "80T", force_break_close=True)
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 02:50:00)",2021-12-23 01:30:00+00:00,2021-12-23 02:50:00+00:00
"[2021-12-23 02:50:00, 2021-12-23 04:00:00)",2021-12-23 02:50:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 06:20:00)",2021-12-23 05:00:00+00:00,2021-12-23 06:20:00+00:00
"[2021-12-23 06:20:00, 2021-12-23 07:40:00)",2021-12-23 06:20:00+00:00,2021-12-23 07:40:00+00:00
"[2021-12-23 07:40:00, 2021-12-23 09:00:00)",2021-12-23 07:40:00+00:00,2021-12-23 09:00:00+00:00

If you are going to set both `force_close` and `force_break_close` to the same value then you're better off passing just the `force` convenience option. If passed, `force` sets both `force_close` and `force_break_close` (anything passed to either will be overriden).

In [28]:
index = hkg.trading_index(start, start, "80T", force=True)
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 02:50:00)",2021-12-23 01:30:00+00:00,2021-12-23 02:50:00+00:00
"[2021-12-23 02:50:00, 2021-12-23 04:00:00)",2021-12-23 02:50:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 06:20:00)",2021-12-23 05:00:00+00:00,2021-12-23 06:20:00+00:00
"[2021-12-23 06:20:00, 2021-12-23 07:40:00)",2021-12-23 06:20:00+00:00,2021-12-23 07:40:00+00:00
"[2021-12-23 07:40:00, 2021-12-23 08:00:00)",2021-12-23 07:40:00+00:00,2021-12-23 08:00:00+00:00

An obvious consequence of forcing the close is that any indice that's forced will have a shorter period length than `period`.

In [29]:
index.length

TimedeltaIndex(['0 days 01:20:00', '0 days 01:10:00', '0 days 01:20:00',
                '0 days 01:20:00', '0 days 00:20:00'],
               dtype='timedelta64[ns]', freq=None)

**If having indices that represent only trading periods is more important to you than having them all relfect the same period length, then forcing the close is the way to go.**

The force close options can also be employed when creating `DatetimeIndex`.

When `closed` is either "right" or "both" the effect will be similar to that for the `IntervalIndex`, in that if the (sub)sessions' last indices otherwise fall later than the close they will be curtailed to the close.

In [30]:
# NB forcing only the session close, not the break
hkg.trading_index(start, start, "80T", closed="right", force_close=True, intervals=False)

DatetimeIndex(['2021-12-23 02:50:00+00:00', '2021-12-23 04:10:00+00:00',
               '2021-12-23 06:20:00+00:00', '2021-12-23 07:40:00+00:00',
               '2021-12-23 08:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

If `closed` is either "left" or "neither" then `force` has no effect as there cannot be an indice to the right of the close to force.

In [31]:
hkg.trading_index(start, start, "80T", closed="left", force=True, intervals=False)

DatetimeIndex(['2021-12-23 01:30:00+00:00', '2021-12-23 02:50:00+00:00',
               '2021-12-23 05:00:00+00:00', '2021-12-23 06:20:00+00:00',
               '2021-12-23 07:40:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

Recalling the question of why 04:00 and 08:00 aren't included when doing this...

In [32]:
hkg.trading_index(start, start, "30min", intervals=False)

DatetimeIndex(['2021-12-23 01:30:00+00:00', '2021-12-23 02:00:00+00:00',
               '2021-12-23 02:30:00+00:00', '2021-12-23 03:00:00+00:00',
               '2021-12-23 03:30:00+00:00', '2021-12-23 05:00:00+00:00',
               '2021-12-23 05:30:00+00:00', '2021-12-23 06:00:00+00:00',
               '2021-12-23 06:30:00+00:00', '2021-12-23 07:00:00+00:00',
               '2021-12-23 07:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

Passing `closed` as "both" and `force` as `True` will always include the closes.

In [33]:
hkg.trading_index(start, start, "1H", closed="both", force=True, intervals=False)

DatetimeIndex(['2021-12-23 01:30:00+00:00', '2021-12-23 02:30:00+00:00',
               '2021-12-23 03:30:00+00:00', '2021-12-23 04:00:00+00:00',
               '2021-12-23 05:00:00+00:00', '2021-12-23 06:00:00+00:00',
               '2021-12-23 07:00:00+00:00', '2021-12-23 08:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

### `ignore_breaks`

`ignore_breaks` provides for ignoring any session breaks and instead treating every session as if it were continuous. The following shows how by default `ignore_breaks` is `False` such that non-trading indices are not introduced within breaks.

In [34]:
# for reference
schedule.iloc[[0]]

,open,break_start,break_end,close
2021-12-23,2021-12-23 01:30:00+00:00,2021-12-23 04:00:00+00:00,2021-12-23 05:00:00+00:00,2021-12-23 08:00:00+00:00

In [35]:
index = hkg.trading_index(start, start, "30T")
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 02:00:00)",2021-12-23 01:30:00+00:00,2021-12-23 02:00:00+00:00
"[2021-12-23 02:00:00, 2021-12-23 02:30:00)",2021-12-23 02:00:00+00:00,2021-12-23 02:30:00+00:00
"[2021-12-23 02:30:00, 2021-12-23 03:00:00)",2021-12-23 02:30:00+00:00,2021-12-23 03:00:00+00:00
"[2021-12-23 03:00:00, 2021-12-23 03:30:00)",2021-12-23 03:00:00+00:00,2021-12-23 03:30:00+00:00
"[2021-12-23 03:30:00, 2021-12-23 04:00:00)",2021-12-23 03:30:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 05:30:00)",2021-12-23 05:00:00+00:00,2021-12-23 05:30:00+00:00
"[2021-12-23 05:30:00, 2021-12-23 06:00:00)",2021-12-23 05:30:00+00:00,2021-12-23 06:00:00+00:00
"[2021-12-23 06:00:00, 2021-12-23 06:30:00)",2021-12-23 06:00:00+00:00,2021-12-23 06:30:00+00:00
"[2021-12-23 06:30:00, 2021-12-23 07:00:00)",2021-12-23 06:30:00+00:00,2021-12-23 07:00:00+00:00
"[2021-12-23 07:00:00, 2021-12-23 07:30:00)",2021-12-23 07:00:00+00:00,2021-12-23 07:30:00+00:00
"[2021-12-23 07:30:00, 2021-12-23 08:00:00)",2021-12-23 07:30:00+00:00,2021-12-23 08:00:00+00:00

Notice that above there are no indices between the 04:00 close of the morning session and the 05:00 open of the afternoon session.

Passing `ignore_breaks` as True will include indices through any break.

In [36]:
index = hkg.trading_index(start, start, "30T", ignore_breaks=True)
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 02:00:00)",2021-12-23 01:30:00+00:00,2021-12-23 02:00:00+00:00
"[2021-12-23 02:00:00, 2021-12-23 02:30:00)",2021-12-23 02:00:00+00:00,2021-12-23 02:30:00+00:00
"[2021-12-23 02:30:00, 2021-12-23 03:00:00)",2021-12-23 02:30:00+00:00,2021-12-23 03:00:00+00:00
"[2021-12-23 03:00:00, 2021-12-23 03:30:00)",2021-12-23 03:00:00+00:00,2021-12-23 03:30:00+00:00
"[2021-12-23 03:30:00, 2021-12-23 04:00:00)",2021-12-23 03:30:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 04:00:00, 2021-12-23 04:30:00)",2021-12-23 04:00:00+00:00,2021-12-23 04:30:00+00:00
"[2021-12-23 04:30:00, 2021-12-23 05:00:00)",2021-12-23 04:30:00+00:00,2021-12-23 05:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 05:30:00)",2021-12-23 05:00:00+00:00,2021-12-23 05:30:00+00:00
"[2021-12-23 05:30:00, 2021-12-23 06:00:00)",2021-12-23 05:30:00+00:00,2021-12-23 06:00:00+00:00
"[2021-12-23 06:00:00, 2021-12-23 06:30:00)",2021-12-23 06:00:00+00:00,2021-12-23 06:30:00+00:00
"[2021-12-23 06:30:00, 2021-12-23 07:00:00)",2021-12-23 06:30:00+00:00,2021-12-23 07:00:00+00:00
"[2021-12-23 07:00:00, 2021-12-23 07:30:00)",2021-12-23 07:00:00+00:00,2021-12-23 07:30:00+00:00
"[2021-12-23 07:30:00, 2021-12-23 08:00:00)",2021-12-23 07:30:00+00:00,2021-12-23 08:00:00+00:00

In the above example the start of the afternoon session (05.00) is preserved as an indice only because it falls 'on frequency'. This won't be the case for all periods.

In [37]:
index = hkg.trading_index(start, start, "1H", ignore_breaks=True)
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 02:30:00)",2021-12-23 01:30:00+00:00,2021-12-23 02:30:00+00:00
"[2021-12-23 02:30:00, 2021-12-23 03:30:00)",2021-12-23 02:30:00+00:00,2021-12-23 03:30:00+00:00
"[2021-12-23 03:30:00, 2021-12-23 04:30:00)",2021-12-23 03:30:00+00:00,2021-12-23 04:30:00+00:00
"[2021-12-23 04:30:00, 2021-12-23 05:30:00)",2021-12-23 04:30:00+00:00,2021-12-23 05:30:00+00:00
"[2021-12-23 05:30:00, 2021-12-23 06:30:00)",2021-12-23 05:30:00+00:00,2021-12-23 06:30:00+00:00
"[2021-12-23 06:30:00, 2021-12-23 07:30:00)",2021-12-23 06:30:00+00:00,2021-12-23 07:30:00+00:00
"[2021-12-23 07:30:00, 2021-12-23 08:30:00)",2021-12-23 07:30:00+00:00,2021-12-23 08:30:00+00:00

### `align` and `align_pm`

The alignment options provide for anchoring the start of each session or subsession to a specific fraction of an hour. This can be useful to align trading data that is not anchored on a (sub)session's open.

Consider the Tel Aviv Stock Exchange which opens at 07:59 UTC (when not observing DST). Without any alignment an index with a 5 minute period looks like this...

In [38]:
xtae = xcals.get_calendar("XTAE") # Tel Aviv Stock Exchange
index = xtae.trading_index(start, start, "5T")
show_as_df(index)[:3]

,left_side,right_side
IntervalIndex,,
"[2021-12-23 07:59:00, 2021-12-23 08:04:00)",2021-12-23 07:59:00+00:00,2021-12-23 08:04:00+00:00
"[2021-12-23 08:04:00, 2021-12-23 08:09:00)",2021-12-23 08:04:00+00:00,2021-12-23 08:09:00+00:00
"[2021-12-23 08:09:00, 2021-12-23 08:14:00)",2021-12-23 08:09:00+00:00,2021-12-23 08:14:00+00:00

But what if the data source anchors its 5 minute data not on this unusal open, but rather at 07:55 or 08:00? Well, that's what `align` is for...

In [39]:
index = xtae.trading_index(start, start, "5T", align="-5T")
show_as_df(index)[:3]

,left_side,right_side
IntervalIndex,,
"[2021-12-23 07:55:00, 2021-12-23 08:00:00)",2021-12-23 07:55:00+00:00,2021-12-23 08:00:00+00:00
"[2021-12-23 08:00:00, 2021-12-23 08:05:00)",2021-12-23 08:00:00+00:00,2021-12-23 08:05:00+00:00
"[2021-12-23 08:05:00, 2021-12-23 08:10:00)",2021-12-23 08:05:00+00:00,2021-12-23 08:10:00+00:00

In [40]:
index = xtae.trading_index(start, start, "5T", align="5T")
show_as_df(index)[:3]

,left_side,right_side
IntervalIndex,,
"[2021-12-23 08:00:00, 2021-12-23 08:05:00)",2021-12-23 08:00:00+00:00,2021-12-23 08:05:00+00:00
"[2021-12-23 08:05:00, 2021-12-23 08:10:00)",2021-12-23 08:05:00+00:00,2021-12-23 08:10:00+00:00
"[2021-12-23 08:10:00, 2021-12-23 08:15:00)",2021-12-23 08:10:00+00:00,2021-12-23 08:15:00+00:00

`align` can be passed any value that represents a fraction of a hour. Like `period` it can take a `Timedelta` or a `str` that's acceptable as a single input to `Timedelta`.

Postiive values will anchor a session's indices on the first occurence of `align` that follows the open, whilst negative values will anchor the indices on the first occurence that preceeds the open.

In [41]:
index = xtae.trading_index(start, start, "1H", align="-30T")
show_as_df(index)[:3]

,left_side,right_side
IntervalIndex,,
"[2021-12-23 07:30:00, 2021-12-23 08:30:00)",2021-12-23 07:30:00+00:00,2021-12-23 08:30:00+00:00
"[2021-12-23 08:30:00, 2021-12-23 09:30:00)",2021-12-23 08:30:00+00:00,2021-12-23 09:30:00+00:00
"[2021-12-23 09:30:00, 2021-12-23 10:30:00)",2021-12-23 09:30:00+00:00,2021-12-23 10:30:00+00:00

A session's indices will not be shifted if the open already aligns with `align`. For example, the following Hong Kong session opens at 01:30 which already aligns with "5T".

In [42]:
index = hkg.trading_index(start, start, "5T", align="-5T")
show_as_df(index)[:3]

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 01:35:00)",2021-12-23 01:30:00+00:00,2021-12-23 01:35:00+00:00
"[2021-12-23 01:35:00, 2021-12-23 01:40:00)",2021-12-23 01:35:00+00:00,2021-12-23 01:40:00+00:00
"[2021-12-23 01:40:00, 2021-12-23 01:45:00)",2021-12-23 01:40:00+00:00,2021-12-23 01:45:00+00:00

The same is true for all other fractions of an hour, except "20T". If you really had to...

In [43]:
index = hkg.trading_index(start, start, "20T", align="-20T")
show_as_df(index)[:3]

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:20:00, 2021-12-23 01:40:00)",2021-12-23 01:20:00+00:00,2021-12-23 01:40:00+00:00
"[2021-12-23 01:40:00, 2021-12-23 02:00:00)",2021-12-23 01:40:00+00:00,2021-12-23 02:00:00+00:00
"[2021-12-23 02:00:00, 2021-12-23 02:20:00)",2021-12-23 02:00:00+00:00,2021-12-23 02:20:00+00:00

Where a calendar observes a break, by default the start of both the morning and afternoon subsessions will be anchored, independently, according to `align`. Alternatively `align_pm` can be passed to anchor the start of the afternoon subsessions:
* to a different alignment, by passing as a `str` or `Timedelta`.
* to the break-end (i.e. the afternoon subsession open), by passing as `False`

### `start` and `end` as times

When `start` and `end` are passed as times, how the first and last indices are defined depends on whether the index is returned as an `IntervalIndex` or a `DatetimeIndex`.

When returning an `IntervalIndex` (`intervals=True`):
* The first indice will be:
    * if `start` coincides with the left side of an indice, then that indice.
    * otherwise the nearest indice to `start` with a left side that is later than `start`.

* The last indice will be:
    * if `end` coincides with the right side of an indice, then that indice.
    * otherwise the nearest indice to `end` with a right side that is earlier than `end`.

In the following example the `start` and `end` times coincide with, respectively, the left and right side of indices.

In [44]:
start_min = pd.Timestamp("2021-12-23 03:00")
end_min = pd.Timestamp("2021-12-23 07:00")

In [45]:
index = hkg.trading_index(start_min, end_min, "30T", intervals=True)
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 03:00:00, 2021-12-23 03:30:00)",2021-12-23 03:00:00+00:00,2021-12-23 03:30:00+00:00
"[2021-12-23 03:30:00, 2021-12-23 04:00:00)",2021-12-23 03:30:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 05:30:00)",2021-12-23 05:00:00+00:00,2021-12-23 05:30:00+00:00
"[2021-12-23 05:30:00, 2021-12-23 06:00:00)",2021-12-23 05:30:00+00:00,2021-12-23 06:00:00+00:00
"[2021-12-23 06:00:00, 2021-12-23 06:30:00)",2021-12-23 06:00:00+00:00,2021-12-23 06:30:00+00:00
"[2021-12-23 06:30:00, 2021-12-23 07:00:00)",2021-12-23 06:30:00+00:00,2021-12-23 07:00:00+00:00

Note the effect of moving `start` forwards and `end` backwards by one minute.

In [46]:
one_min = pd.Timedelta(1, "T")
index = hkg.trading_index(start_min + one_min, end_min - one_min, "30T", intervals=True)
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 03:30:00, 2021-12-23 04:00:00)",2021-12-23 03:30:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 05:30:00)",2021-12-23 05:00:00+00:00,2021-12-23 05:30:00+00:00
"[2021-12-23 05:30:00, 2021-12-23 06:00:00)",2021-12-23 05:30:00+00:00,2021-12-23 06:00:00+00:00
"[2021-12-23 06:00:00, 2021-12-23 06:30:00)",2021-12-23 06:00:00+00:00,2021-12-23 06:30:00+00:00

In short, when returning an `IntervalIndex`:
* the first indice will never include a period that falls before `start`.
* the last indice will never include a period that falls after `end`.

The same is not true for when a `DatetimeIndex` is returned. In this case the first and last indices are defined without consideration to the periods that the indices may represent.

When returning an `DatetimeIndex`:
* The first indice will be either `start`, if start is an indice, or otherwise the nearest indice that follows `start`. 
* The last indice will be either `end`, if end is an indice, or otherwise the nearest indice that preceeds `end`.

In [47]:
print(f"{start_min=}\t{end_min=}")  # for reference
hkg.trading_index(start_min, end_min, "30T", closed="left", intervals=False)

start_min=Timestamp('2021-12-23 03:00:00')	end_min=Timestamp('2021-12-23 07:00:00')

DatetimeIndex(['2021-12-23 03:00:00+00:00', '2021-12-23 03:30:00+00:00',
               '2021-12-23 05:00:00+00:00', '2021-12-23 05:30:00+00:00',
               '2021-12-23 06:00:00+00:00', '2021-12-23 06:30:00+00:00',
               '2021-12-23 07:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

Note the different interpretation of what `end` represents. Here the `end` indice is included even though it represents a period (07:00 - 07:30) that falls after `end_min`. If intervals=True then the analogous indice is excluded.

In [48]:
index = hkg.trading_index(start_min, end_min, "30T", closed="left", intervals=True)
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 03:00:00, 2021-12-23 03:30:00)",2021-12-23 03:00:00+00:00,2021-12-23 03:30:00+00:00
"[2021-12-23 03:30:00, 2021-12-23 04:00:00)",2021-12-23 03:30:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 05:30:00)",2021-12-23 05:00:00+00:00,2021-12-23 05:30:00+00:00
"[2021-12-23 05:30:00, 2021-12-23 06:00:00)",2021-12-23 05:30:00+00:00,2021-12-23 06:00:00+00:00
"[2021-12-23 06:00:00, 2021-12-23 06:30:00)",2021-12-23 06:00:00+00:00,2021-12-23 06:30:00+00:00
"[2021-12-23 06:30:00, 2021-12-23 07:00:00)",2021-12-23 06:30:00+00:00,2021-12-23 07:00:00+00:00

Final point on passing `start` and/or `end` as times:

* **If the period is one day then `start` and/or `end` cannot be passed as times.**

### `Overlapping indices`

Now, if you've been playing with `trading_index` as you've worked through this tutorial and you've managed to get this far without raising an error, then you just haven't been trying hard enough...

In [49]:
period_105 = hkg.trading_index(start, start, "105T")
period_105

IntervalIndex([[2021-12-23 01:30:00, 2021-12-23 03:15:00), [2021-12-23 03:15:00, 2021-12-23 05:00:00), [2021-12-23 05:00:00, 2021-12-23 06:45:00), [2021-12-23 06:45:00, 2021-12-23 08:30:00)], dtype='interval[datetime64[ns, UTC], left]')

Just one more minute...

In [ ]:
period_106 = hkg.trading_index(start, start, "106T")

```
---------------------------------------------------------------------------
IntervalsOverlapError                     Traceback (most recent call last)
Input In [50], in <cell line: 1>()
----> 1 period_106 = hkg.trading_index(start, start, "106T")

IntervalsOverlapError: Unable to create trading index as intervals would overlap. This can occur when the frequency is longer than a break or the gap between one session's close and the next session's open (as reduced by any alignment). To shorten intervals that would otherwise overlap either pass `curtail_overlaps` as True or pass `force_close` and/or `force_break_close` as True.
```

What happened? The error message pretty much explains it. Lets have a better look at the index with the 105 minutes period.

In [51]:
show_as_df(period_105)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 03:15:00)",2021-12-23 01:30:00+00:00,2021-12-23 03:15:00+00:00
"[2021-12-23 03:15:00, 2021-12-23 05:00:00)",2021-12-23 03:15:00+00:00,2021-12-23 05:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 06:45:00)",2021-12-23 05:00:00+00:00,2021-12-23 06:45:00+00:00
"[2021-12-23 06:45:00, 2021-12-23 08:30:00)",2021-12-23 06:45:00+00:00,2021-12-23 08:30:00+00:00

See how the right side of the second indice (the last indice of the morning subsession) has bumped right up against the left side of the third indice (the first indice of the afternoon subsession). The indices don't overlap because all the intervals are all `closed` on the "left" (by default), so the exact timestamp '2021-12-23 05:00:00' is present in the third indice...

In [52]:
pd.Timestamp('2021-12-23 05:00:00', tz="UTC") in period_105[2]

True

...but not the second.

In [53]:
pd.Timestamp('2021-12-23 05:00:00', tz="UTC") in period_105[1]

False

However, add just one more minute to the period length and these indices overlap, hence the `IntervalsOverlapError`. As noted in the error message, the overlap can be prevented by forcing close on the break.

In [54]:
show_as_df(hkg.trading_index(start, start, "106T", force_break_close=True))

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 03:16:00)",2021-12-23 01:30:00+00:00,2021-12-23 03:16:00+00:00
"[2021-12-23 03:16:00, 2021-12-23 04:00:00)",2021-12-23 03:16:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 06:46:00)",2021-12-23 05:00:00+00:00,2021-12-23 06:46:00+00:00
"[2021-12-23 06:46:00, 2021-12-23 08:32:00)",2021-12-23 06:46:00+00:00,2021-12-23 08:32:00+00:00

Or, `curtail_overlaps` can be passed as True to curtail overlapping indices. This has the effect of curtailing the right side of the earlier of the overlapping indices to the left side of the latter.

In [55]:
index = hkg.trading_index(start, start, "111T", curtail_overlaps=True)
show_as_df(index)

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 03:21:00)",2021-12-23 01:30:00+00:00,2021-12-23 03:21:00+00:00
"[2021-12-23 03:21:00, 2021-12-23 05:00:00)",2021-12-23 03:21:00+00:00,2021-12-23 05:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 06:51:00)",2021-12-23 05:00:00+00:00,2021-12-23 06:51:00+00:00
"[2021-12-23 06:51:00, 2021-12-23 08:42:00)",2021-12-23 06:51:00+00:00,2021-12-23 08:42:00+00:00

Obviously this has the same effect as forcing the close in so much as the lengths of some indices will now be less than the passed `period`.

In [56]:
index.length

TimedeltaIndex(['0 days 01:51:00', '0 days 01:39:00', '0 days 01:51:00',
                '0 days 01:51:00'],
               dtype='timedelta64[ns]', freq=None)

**NB** that `curtail_overlaps` is only available if outputing as an `IntervalIndex` (if `intervals=False` then `curtail_overlaps` has no effect).

Another option, not noted by the error message, can be to _increase_ the period.

In [57]:
show_as_df(hkg.trading_index(start, start, "150T"))

,left_side,right_side
IntervalIndex,,
"[2021-12-23 01:30:00, 2021-12-23 04:00:00)",2021-12-23 01:30:00+00:00,2021-12-23 04:00:00+00:00
"[2021-12-23 05:00:00, 2021-12-23 07:30:00)",2021-12-23 05:00:00+00:00,2021-12-23 07:30:00+00:00
"[2021-12-23 07:30:00, 2021-12-23 10:00:00)",2021-12-23 07:30:00+00:00,2021-12-23 10:00:00+00:00

(I'll leave it to you to work out what happened there.)

The possibility for overlaps are not limited to calendars with lunch breaks. Overlaps can also occur when the right side of the last indice of one session falls later than the left side of the first indice of the next session (as adjusted for any alignment). For a 24 hour calendar, like CMES, this will occur whenever the period is not a factor of 24 hours.

In [58]:
# grab a 24-hour calendar
cmes = xcals.get_calendar("CMES")
# for reference
start24, end24 = "2021-12-01", "2021-12-03"
cmes.schedule[start24:end24]

,open,break_start,break_end,close
2021-12-01,2021-11-30 23:00:00+00:00,NaT,NaT,2021-12-01 23:00:00+00:00
2021-12-02,2021-12-01 23:00:00+00:00,NaT,NaT,2021-12-02 23:00:00+00:00
2021-12-03,2021-12-02 23:00:00+00:00,NaT,NaT,2021-12-03 23:00:00+00:00

8 hours is a factor of 24 hours...

In [59]:
show_as_df(cmes.trading_index(start24, end24, "8H"))

,left_side,right_side
IntervalIndex,,
"[2021-11-30 23:00:00, 2021-12-01 07:00:00)",2021-11-30 23:00:00+00:00,2021-12-01 07:00:00+00:00
"[2021-12-01 07:00:00, 2021-12-01 15:00:00)",2021-12-01 07:00:00+00:00,2021-12-01 15:00:00+00:00
"[2021-12-01 15:00:00, 2021-12-01 23:00:00)",2021-12-01 15:00:00+00:00,2021-12-01 23:00:00+00:00
"[2021-12-01 23:00:00, 2021-12-02 07:00:00)",2021-12-01 23:00:00+00:00,2021-12-02 07:00:00+00:00
"[2021-12-02 07:00:00, 2021-12-02 15:00:00)",2021-12-02 07:00:00+00:00,2021-12-02 15:00:00+00:00
"[2021-12-02 15:00:00, 2021-12-02 23:00:00)",2021-12-02 15:00:00+00:00,2021-12-02 23:00:00+00:00
"[2021-12-02 23:00:00, 2021-12-03 07:00:00)",2021-12-02 23:00:00+00:00,2021-12-03 07:00:00+00:00
"[2021-12-03 07:00:00, 2021-12-03 15:00:00)",2021-12-03 07:00:00+00:00,2021-12-03 15:00:00+00:00
"[2021-12-03 15:00:00, 2021-12-03 23:00:00)",2021-12-03 15:00:00+00:00,2021-12-03 23:00:00+00:00

but 7 minutes is not...

In [ ]:
cmes.trading_index(start24, end24, "7T")

```
---------------------------------------------------------------------------
IntervalsOverlapError                     Traceback (most recent call last)
Input In [60], in <cell line: 1>()
----> 1 cmes.trading_index(start24, end24, "7T")

IntervalsOverlapError: Unable to create trading index as intervals would overlap. This can occur when the frequency is longer than a break or the gap between one session's close and the next session's open (as reduced by any alignment). To shorten intervals that would otherwise overlap either pass `curtail_overlaps` as True or pass `force_close` and/or `force_break_close` as True.
```

In [61]:
show_as_df(cmes.trading_index(start, end, "7T", force_close=True))

,left_side,right_side
IntervalIndex,,
"[2021-12-22 23:00:00, 2021-12-22 23:07:00)",2021-12-22 23:00:00+00:00,2021-12-22 23:07:00+00:00
"[2021-12-22 23:07:00, 2021-12-22 23:14:00)",2021-12-22 23:07:00+00:00,2021-12-22 23:14:00+00:00
"[2021-12-22 23:14:00, 2021-12-22 23:21:00)",2021-12-22 23:14:00+00:00,2021-12-22 23:21:00+00:00
"[2021-12-22 23:21:00, 2021-12-22 23:28:00)",2021-12-22 23:21:00+00:00,2021-12-22 23:28:00+00:00
"[2021-12-22 23:28:00, 2021-12-22 23:35:00)",2021-12-22 23:28:00+00:00,2021-12-22 23:35:00+00:00
...,...,...
"[2021-12-28 22:27:00, 2021-12-28 22:34:00)",2021-12-28 22:27:00+00:00,2021-12-28 22:34:00+00:00
"[2021-12-28 22:34:00, 2021-12-28 22:41:00)",2021-12-28 22:34:00+00:00,2021-12-28 22:41:00+00:00
"[2021-12-28 22:41:00, 2021-12-28 22:48:00)",2021-12-28 22:41:00+00:00,2021-12-28 22:48:00+00:00
"[2021-12-28 22:48:00, 2021-12-28 22:55:00)",2021-12-28 22:48:00+00:00,2021-12-28 22:55:00+00:00
"[2021-12-28 22:55:00, 2021-12-28 23:00:00)",2021-12-28 22:55:00+00:00,2021-12-28 23:00:00+00:00

Overlapping indices are also a consideration for trading indexes output as `DatetimeIndex`, although only if the index is being `closed` on either the "right" side or "both" sides (it's not possible for a `DatetimeIndex` `closed` on the "left" side or "neither" side to have overlapping indices as the right side is not defined, and hence cannot overlap the left side of the following indice).

If the index is being `closed` on the "right" then the periods represented by the indices will overlap whenever they would overlap for the equivalent `IntervalIndex`. Only difference is that an `IndicesOverlapError` is raised rather than an `IntervalsOverlapError`.

In [ ]:
hkg.trading_index(start, start, "106T", closed="right", intervals=False)

```
---------------------------------------------------------------------------
IndicesOverlapError                       Traceback (most recent call last)
Input In [62], in <cell line: 1>()
----> 1 hkg.trading_index(start, start, "106T", closed="right", intervals=False)

IndicesOverlapError: Unable to create trading index as an indice would fall to the right of (later than) the subsequent indice. This can occur when the frequency is longer than a break or the gap between one session's close and the next session's open (as reduced by any alignment). Consider  passing `closed` as `left` or passing `force_close` and/or `force_break_close` as True.
```

If the trading index is being closed on "both" sides then the overlap will occur one minute earlier, as whilst this is on the limit with `closed` "right"...

In [63]:
hkg.trading_index(start, start, "105T", closed="right", intervals=False)

DatetimeIndex(['2021-12-23 03:15:00+00:00', '2021-12-23 05:00:00+00:00',
               '2021-12-23 06:45:00+00:00', '2021-12-23 08:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

It's over the limit if `closed` "both". This is because here 05:00 would be a minute of both the last implied period of the morning subsession and the first implied period of the afternoon subsession.

In [ ]:
hkg.trading_index(start, start, "105T", closed="both", intervals=False)

```
---------------------------------------------------------------------------
IndicesOverlapError                       Traceback (most recent call last)
Input In [64], in <cell line: 1>()
----> 1 hkg.trading_index(start, start, "105T", closed="both", intervals=False)

IndicesOverlapError: Unable to create trading index as an indice would fall to the right of (later than) the subsequent indice. This can occur when the frequency is longer than a break or the gap between one session's close and the next session's open (as reduced by any alignment). Consider  passing `closed` as `left` or passing `force_close` and/or `force_break_close` as True.
```

As with an `IntervalIndex`, overlapping indices can be prevented by forcing the applicable close(s). Unlike `IntervalIndex`, `curtail_indices` is **not** available for `DatetimeIndex`.

Although `curtail_overlaps` is unavailable, a similar effect can be achieved by passing `closed` as "left" instead of "both" or "neither" instead of "right" (the effect isn't exactly the same as `curtail_overlaps` allows for curtailing only overlapping indices, whilst changing closed to "left" or "neither" has the effect of losing the right side of the last implied period of _all_ sessions and subsessions, regardless of whether they would overlap or not).